:root {
    --button-font: 16px 'Arial', 'Helvetica', sans-serif;
    --button-radius: .3em;
}

header {
    display: flex;
}

input.plan-name {
    border: none;
    font: 16px 'Arial', 'Helvetica', 'Sans';
    height: 40px;
    border-radius: 5px;
    padding: 0 12px;
    text-align: center;
}

input.plan-name:hover,
input.plan-name:focus,
input.plan-name:active {
    border: 1px solid #7ebc6f;
    outline: none;
}

div.plan {
    visibility: hidden;
}

button.normal {
    outline: none;
    background-color: #fff;
    color: #7ebc6f;
    padding: 0px 12px;
    height: 40px;
    border: .1em solid #7ebc6f;
    cursor: pointer;
    font: var(--button-font);
    border-radius: var(--button-radius);
}

button.normal:hover {
    background-color: #7ebc6f;
    color: #fff;
    border: none;
}