
:root {
    --border-radius: .3em;
    --menu-border-color: .1em solid #7ebc6f;
    --submenu-border-color: .1em solid #899089;
    --background-color-default: #fff;
    --background-color-hover: #7ebc6f;
    --menu-font-color-default: #7ebc6f;
    --submenu-font-color-default: #000;
    --font-color-hover: #fff;
}

.Menu {
    display: none;
    position: relative;
    z-index: 50;
}

ul.Menu.-horizontal,
ul.Menu.-vertical {
    border-radius: var(--border-radius);
    display: inline-block;
}

ul.Menu.-floating {
    display: block;
    position: absolute;
}

.Menu,
.Menu li,
.Menu li > ul {
    border-radius: var(--border-radius);
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.Menu li {
    display: block;
    position: relative;
    white-space: nowrap;
    word-break: keep-all;
}

.Menu.-horizontal > li {
    display: inline-block;
    float: left;
}

.Menu li > * {
    display: block;
    position: relative;
}

.Menu li > ul {
    position: absolute;
    min-width: 100%;
    top: 0px;
    left: 100%;
}

.Menu.-horizontal.-alignRight li > ul {
    left: auto;
    right: 100%;
}

.Menu.-horizontal.-alignRight > li > ul {
    right: 0px;
}

.Menu.-horizontal > li > ul {
    top: auto;
    left: auto;
}

/* Menu behaviour */
.Menu li > ul,
.Menu.-floating {
    display: none;
}

.Menu li > ul.-visible,
ul.Menu.-floating.-visible {
    display: block;
}

/* Menu animation */
.Menu li > ul,
.Menu.-horizontal.-alignRight li > ul,
.Menu.-floating {
    opacity: 1;
    transform: scale(1) translateY(0px);
    transform-origin: left top;
}

.Menu.-alignRight li > ul,
.Menu.-floating.-alignRight {
    transform-origin: right top;
}

.Menu li > ul.-animating,
.Menu.-floating.-animating {
    opacity: 0 !important;
    transform: scale(0.96) translateX(-16px);
}

.Menu li > ul.-animating {
    z-index: -1 !important;
}

.Menu.-horizontal > li > ul.-animating {
    transform: scale(0.96) translateY(-16px);
}

.Menu.-alignRight li > ul.-animating,
.Menu.-floating.-alignRight.-animating {
    transform: scale(0.96) translateX(16px);
}

.Menu.-horizontal.-alignRight > li > ul.-animating {
    transform: scale(0.96) translateY(-16px);
}

.Menu {
    line-height: 40px;
}

.Menu.-horizontal,
.Menu li,
.Menu li > :first-child {
    height: 40px;
}

/* Default font settings for menu */
.Menu {
    font-family: Arial, Helvetica, Sans;
    font-size: 16px;
}

/* Colouring of menus */
/* Foreground */
.Menu,
.Menu li.-hasSubmenu > a:after {
    background-color: var(--background-color-default);
    color: var(--menu-font-color-default);
    border: var(--menu-border-color);
}

/* Background */
.Menu ul,
.Menu.-floating {
    color: var(--submenu-font-color-default);
    background: var(--background-color-default);
    border: var(--submenu-border-color);
}

/* Padding for each menu item */
.Menu li > * {
    padding: 0px 12px;
}

/* Minimum width of dropdown menus */
.Menu.-horizontal li > ul,
.Menu.-floating {
    min-width: 200px;
}

/* Animation speed of dropdown menus */
.Menu li > ul,
.Menu.-floating {
    transition: width 0.1s, height 0.1s, transform 0.1s, opacity 0.1s;
}

/* Styling of hyperlink text */
.Menu li > a {
    text-decoration: none;
    color: inherit;
}

/* Animation speed of :hover shading */
.Menu li > a:first-child {
    transition: background-color 0.2s;
}

/* Colour of :hover shading */
.Menu li:hover > a:first-child,
.Menu li.-active > a:first-child {
    background-color: var(--background-color-hover);
    color: var(--font-color-hover);
}