@import "modal.css";

:root {
  --lightgray: #efefef;
  --blue: steelblue;
  --white: #fff;
  --black: rgba(0, 0, 0, 0.8);
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
  --modal-font: 24px 'Arial', 'Helvetica', sans-serif;
}

.modal-review {
  border: none;
  font: var(--modal-font);
  position: relative;
  min-width: 400px;
  border-radius: 5px;
  background: var(--white);
  overflow: auto;
  cursor: default;
  padding: .1em;
}

.modal-review input {
  margin: .1em;
  padding: .1em;
  font: var(--modal-font);
  border: 1px solid #899089;
  border-radius: var(--border-radius);
  display: block;
}

.modal-review input.submit-modal {
  background-color: white;
  color: #000;
  border: .1em solid #899089;
  cursor: pointer;
  float: right;
}
.modal-review input.submit-modal:hover,
.modal-review input.submit-modal:active,
.modal-review input.submit-modal:focus {
  background-color: #7ebc6f;
  border: .1em solid #7ebc6f;
  outline: none;
  color: #fff;
}

.modal-review p {
  background-color: white;
  color: #000;
  border: none;
}

.modal-review select {
  font: 24px 'Arial', 'Helvetica', sans-serif;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}