<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../static/menu.css"></link>
</head>
<body>
<ul class="Menu -horizontal">
    <li class="-hasSubmenu">
        <a href="#">План</a>
        <ul>
            <li><a href="#">Создать</a></li>
            <li><a href="#">Открыть</a></li>
            <li><a href="#">Сохранить</a></li>
            <li><a href="#">Удалить</a></li>
            <li class="-hasSubmenu">
                <a href="#">Импортировать</a>
                <ul>
                    <li><a href="#">Импортировать JSON</a></li>
                </ul>
            </li>
            <li class="-hasSubmenu">
                <a href="#">Экспортировать</a>
                <ul>
                    <li><a href="#">Экспортировать в JSON</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a href="#">Статистика</a></li>
</ul>
</body>
<script src="../static/menu.js"></script>

</html>